.aboutContainer {
    display: flex;
    gap: 50px;
}

.aboutRow {
    margin: 50px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap; 

    /* Allow flex to wrap and make it responsive for small screen */

}


.aboutSection {
    color: #fcfcfc;
    text-justify: auto;
}

.aboutSection p {
    font-size: xx-large;
    text-align: justify
}

.aboutCol {
    padding: 15px;
    border-radius: 20px;
    background: #010b251c;
}

.about-col-right {
    flex: 1 1 300px;

}

.about-col-left {
    flex: 1 1 300px;
    border-radius: 50%;


}

.about-profile-picture{
    border-radius: 50%;
    width: 530px;
    background-size: cover;
}