.about-container {
    display: flex;
    gap: 50px;
}

.about-row {
    margin: 0 auto;
    padding: 50px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    box-sizing: border-box;

    /* Allow flex to wrap and make it responsive for small screen */

}



.about-section {
    color: #fcfcfc;
  

}



.about-col {
    padding: 15px;
    flex: 1 1 300px;
    box-sizing: border-box;


}

.about-col-right {
    border-radius: 20px;
    background: #010b251c;
    border: 2.5px solid aqua;
    box-sizing: border-box;
    


}

.about-col-left {
    display: flex;
    align-items: center;
    justify-content: center;


}

.about-profile-picture {
    width: 100%;
    max-width: 200px;
    border-radius: 120px;
    border: 5px solid aqua;
    display: block;
    box-sizing: border-box;


}

.social-icons-in-about {
    padding-left: 20px;
    box-sizing: border-box;


}