.home-title{
text-align: center;    
margin-top: 10%;
font-size: clamp(1.8rem, 10vw, 4rem);
color: white;}

.home-description{
text-align: center;    
color: white;
padding-bottom: 200px;
font-size: clamp(1.5rem, 5vw, 2rem);
}











