.mainHeader{
  color: white; 
  padding: 20px; 
  text-align: center; 
  justify-content: space-between; 
  display: flex;
  position: relative;
  border-bottom:10px solid aqua;
}

.mainHeader li {
  float: left;
  list-style:none;
}

.mainHeader ul{
 gap: 40px;
 display: flex;
 padding: 20px;
 
}
.mainHeader a{

  text-decoration: none;
/* Google-Fonts */
  font-family: "New Rocker", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
  color: black;
}


.mainHeader a:hover{
  color: rgb(255, 255, 255);
}

.hamburger{
  font-size: 50px;
  background: none;
  color: aqua;
  display: none;
  cursor: pointer;
}

.navMenu a {
  color:aqua;
}

/* Responsive behavior */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
.navMenu a {
  text-decoration: none;
}

.navMenu {
    display: none;
    position: absolute;
    top: 120px;
    right: 10px;
    background-color: #222;
    padding: 10px;
    border-radius: 41px;
    
  }

  .navMenu.active {
    display: block;
  }

  .navMenu ul {
    flex-direction: column;
    gap: 30px;
 
  }
}